@model DetalhesSessaoViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4">
        <strong>Filme:</strong> @Model.Filme
    </label>

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
    <label class="fs-5">
        <strong>Sala:</strong> @Model.Sala
    </label>
    <label class="fs-5">
        <strong>Número de Máx. de Assentos/Ingressos:</strong> @Model.NumeroMaximoIngressos
    </label>
    <label class="fs-5">
        <strong>Ingressos Disponíveis:</strong> @Model.IngressosDisponiveis
    </label>
    <label class="fs-5">
        <strong>Início:</strong> @Model.Inicio
    </label>
    <label class="fs-5">
        <strong>Status:</strong> @Model.Encerrada
    </label>
</div>